.member-table {
	background-color: var(--background_bluegrey);
    text-align: center;
	margin: 25px 5%;
    width: 90%;
    border: 3px solid #000000;
}


.member-table td {
    background-color: var(--background_bluegrey);
    width: 33%;
    border: 3px solid #000000;
    padding-top: 5px;
}

.member-table td p {
    text-align: left;
    margin-left: 12px;
    margin-right: 12px;
}

.member-table img {
    margin-bottom: -15px;
    width: 200px;
    height: 200px;
    border: 5px solid var(--lightning_hawks_navy);
    border-radius: 100px;
}

.member-category {
    margin-left: 5%;
    color: var(--lightning_hawks_red);
}