#competitions h3 {
    font-size: 25px;
    text-decoration: none;
}
#competitions h4 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: -5px;
}
#competitions p {
    margin-left: 10px;
    margin-top: -15px;
}
#competitions img {
    padding: 10px; 
    float: right;
    /*width: 50%;*/
    height: 320px;
    margin-top: 4.0em;
    border-radius: 30px;
}
.competitions-linked-image:hover {
    opacity: 0.9;
}