:root {
    --lightning_hawks_navy: #292A3E; /* #292A3E */
    --lightning_hawks_blue: #0000FF;
    --lightning_hawks_lightblue: hsl(199, 50%, 50%); /* #00aeff */
    --lightning_hawks_red: hsl(0, 50%, 50%); /* #FF0000 */
    --background_bluegrey: hsl(184, 20%, 50%); /* #00FFFF */
}


body {
	background-color: var(--lightning_hawks_navy);
	font-family: "Futura", Arial, sans-serif;
	/*text-align: center;*/
}

a {
	text-decoration: none;
	color: var(--lightning_hawks_red);
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
	color: rgb(139, 0, 0);
}

p {
    font-family: Arial;
    line-height: 1.5em;
}

h2 {
    text-align: left;
}

.title {
	background-color: var(--background_bluegrey);
    font-size: 1.5em;
	/*border: 0.2em groove var(--lightning_hawks_blue);*/
    border: 0.1em groove #000000;
	width: 50%;
	height: 2.0em;
	padding-top: 0.5em;
    font-family: "Futura";
    text-align: CENTER;
    margin-left: 25%;
    margin-top: 4.8em;
    margin-bottom: 1.5em;
}
     
/* LOGO */
#logo {
    height: 4.9em;
    position: absolute;
    top: 0em;
    left: 2.5em;
    border-radius: 100px;
}
#logo:hover {
    opacity: 0.8;
}

#nav {
	background-color: var(--lightning_hawks_navy);
    border-bottom: 0.2px solid #000000;
	font-size: 1.2em;
    position: absolute;
    top: 0px;
    left: 0px;
	width: 100.1%;
	height: 3.3em;
	padding-top: 1.6em;
	text-align: CENTER;
    font-family: Arial;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 8em;
    padding: 0;
    overflow: hidden;
}

#nav li {
    float: left;
    padding: 0px 35px;
}

#nav li a {
    /*display: block;*/
    color: var(--lightning_hawks_red);
    text-align: center;
    text-decoration: none;
}

#nav li a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.nav-on-page {
    border-top: 0.2em groove var(--lightning_hawks_blue);
	border-bottom: 0.2em groove var(--lightning_hawks_blue);
}

#title-image {
    width: 102.6%;
    margin-left: -2%;
    margin-top: 5.0em;
    margin-bottom: 1em;
}

.info {
	border: 3px solid rgb(20, 20, 20);
	border-radius: 8px;
	background-color: var(--background_bluegrey);
	padding-left: 10px;
    padding-right: 10px;
	text-align: left;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
                
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-ms-transform: scale(0.99);
	-o-transform: scale(0.99);
	transform: scale(0.99);
}
.info h3 {
	color: var(--lightning_hawks_navy);
	text-decoration: underline;
}

#competitions h3 {
    font-size: 25px;
    text-decoration: none;
}
#competitions h4 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: -5px;
}
#competitions p {
    margin-left: 10px;
    margin-top: -15px;
}
#competitions img {
    padding: 10px; 
    float: right;
    /*width: 50%;*/
    height: 320px;
    margin-top: 4.0em;
    border-radius: 30px;
}
.competitions-linked-image:hover {
    opacity: 0.9;
}

/*
body:hover .info:hover {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}*/

#sponsors img {
    height: 60px;
}
#sponsors img:hover {
    opacity: 0.6;
}

#contacts {
    margin-left: 30%;
    width: 40%;
    background-color: var(--background_bluegrey);
    border-radius: 20px;
    font-size: 18px;
}
#contacts a {
    color: var(--lightning_hawks_navy);
}
#contacts a:hover {
    text-decoration: none;
    opacity: 0.7;
}
#contacts td {
    padding: 1.0em;
    font-size: 17px;
}
#contacts img {
    width: 200px;
}
#contacts img:hover {
    opacity: 0.5;
}


#footer {
    background-color: var(--lightning_hawks_lightblue);
    font-size: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0%;
    margin-bottom: 0%;
    height: 2em;
    position: absolute;
    text-align: center;
    width: 100.3%;
    margin-left: -2%;
}